<div>



  <div class="flex justify-between gap-4 mx-10 p-5">
    <div class="font-bold text-4xl decoration-wavy italic"><i class="fa fa-coffee" aria-hidden="true"></i>coffeeroasters</div>
    <div class="flex gap-4 text-gray-400">
      <a href="">HOME</a>
      <a href="">ABOUT US</a>
      <a href="">CREATE YOUR PLAN</a>
    </div>
  </div>
  <div class="relative">
        <img src="https://images.unsplash.com/photo-1507133750040-4a8f57021571?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=" Image" class="w-full h-[80vh] object-cover">
        <div class="absolute top-0 left-0 p-4 text-white font-bold text-xl">
          <div class="font-bold">Great coffee <br>made simple.</div>
          <p>Start your motnings with the world's best coffees. Try our <br> expertly curated artisan coffees from our best roasters <br> delivered directly to your door, at your schedule.</p>
          <button class="bg-blue-400 h-[7vh] w-[15vw]">Create your plan</button>
        </div>
    </div>



    <div class="flex justify-evenly items-center mt-20 align-center">
      <div>
        <img src="" alt="">
        <h2 class="font-bold text-gray-600">Gran Espresso</h2>
        <p>Light and flavour blend with cocoa <br> and black pepper for an intense <br> experience</p>
      </div>
      <div>
        <img src="" alt="">
        <h2 class="font-bold text-gray-600">Planalto</h2>
        <p>Brazillian dark raost with rich and <br>velvety body and hints of fruits and <br> nuts.</p>
      </div>
      <div>
        <img src="" alt="">
        <h2 class="font-bold text-gray-600">Piccollo</h2>
        <p>Mild and smooth blend featuring <br> notes of toasted almond and dried <br> cherry.</p>
      </div>

      <div>
        <img src="" alt="">
        <h2 class="font-bold text-gray-600">Danche</h2>
        <p>Ethiopian hand-harvested blend <br>densely packed with vibrant fruit <br> notes.</p>
      </div>
      <h1 class="text-white text-4xl font-bold backdrop-blur-md p-4">
      Your Blurry Text
    </h1>
    </div>


    <div class="bg-gray-900">
      <div class="flex flex-col mb-20 mt-20">
        <h1>Why choose us?</h1>
       <p>A large part of our role is choosing which particular coffees will be featured <br> in our range. This means working closely with the best coffee growers to give <br>you a more impactfull experience on every level.</p>
     </div>
      <div>
        <div>
          <i></i>
          <h2>Best quality</h2>
          <p>Discover an endless variety of the <br> world's best artisan coffee from <br>each of our roasters.</p>
        </div>
        <div>
          <i></i>
          <h2>Exclusive benefits</h2>
          <p>Special offers and swag when you <br> subscribe, including 30% off your <br>first shipment.</p>
        </div>
        <div>
          <i></i>
          <h2>Free shipping</h2>
          <p>We cover the cost and coffee is <br>delivered fast. Peak freshness: <br>guaranteed.</p>
        </div>
      </div>
    </div>









</div>
